body[data-theme="dark"] {  
   @import '/src/scss/dark-slider.scss';
   .slider-tab {
     background-color: #2f4f4f;
   }
   .title-styles {
     color: #fffacd;
   }
   .header-icon {
     color: #fffacd;
     opacity: 0.8;
   }
   .slider-image {
     border: 5px solid #2f4f4f;
   }
   .language {
     background-color: #424242;
   }
   .link-href {
     color: #fffacd;
   }
   .project-date {
     background-color: #556b2f;
     color: #fffacd;
   }
   header {
     background-color: black;
     h1 {
       color: #fffacd;
     }
   }
   #about {
     background-color: #696969;
     h1 span {
       color: #fffacd;
     }
     .polaroid span {
       background:  #808080;
     }
     .card {
       background: black ;
       color: #fffacd;
     }
   }
   #portfolio {
     background: #14E314;
     .section-title {
       color: #fffacd !important;
     }
     .foto div {
       background: #808080;
     }
     .project-title-settings {
       color: #fffacd;
     }
   }
   #resume {
     filter: brightness(80%);
     background: black;
     .section-title {
       color: #fffacd !important;
     }
     .experience-badge {
       background: #556b2f !important;
       color: #fffacd;
     }
     .main-badge {
       background: #556b2f !important;
     }
     .vertical-timeline-element-date {
       color: #fffacd;
     }
     .vertical-timeline-element-icon {
       background: #556b2f !important;
     }
     @media only screen and (max-width: 1169px) { 
       .vertical-timeline-element-date {
         color: #000;
       }
     }
   }
   .modal-inside .modal-content {
     background: #4b4b4b;
     color: #fffacd;
   }
   .close-icon {
     color: #fffacd;
   }
 }
 